<!-- <app-child (addlist)="onAddlist($event)"></app-child>
<app-parent [list]="list"></app-parent> -->
<!-- <app-parent [data]="data" (parentList)="onAddlist($event)"></app-parent> -->

<!-- <button  routerLink="directives" >button</button> -->
<!-- <div class="d-flex h-100"> -->
    <!--start Aside-->
    <!-- <aside class="d-flex h-100 flex-column border border-primary"> -->
        <!-- <app-sidbar></app-sidbar>
    </aside> -->
    <!--End Aside-->


    <!--start section-->
    <!-- <section class="border border-primary d-flex flex-column flex-grow-1"> -->
        <!--start header-->
        <!-- <header class="border border-success d-flex align-item-center justify-content-between w-100 "> -->
          
        <!-- </header> -->
        <!--end header-->
        <!--start main-->
        <!-- <main class="flex-grow-1 d-flex border"> -->
           
            <app-header></app-header>
            <router-outlet></router-outlet>
        <!-- </main> -->
         <!--start footer-->
         <!-- <div class="border border-success">
         <app-footer></app-footer>
        </div> -->
         <!--end footer-->
         <!--end main-->
    <!-- </section>
</div> -->
<!-- <button routerLink="employee">employee</button>
<router-outlet></router-outlet> -->